.philately-header {
  font-family: "Luxurious Script", cursive;
  font-size: 100px;
  font-weight: 200;
  color: rgb(11, 0, 11);
  text-shadow: 2px 2px rgb(235, 157, 50);
  letter-spacing: 1px;
}

.abbreviation-header {
  color: rgb(235, 157, 50);
  text-decoration: underline;
}

.abbreviation-list {
  color: rgb(235, 157, 50);
  font-size: 32px;
}

.philately-paragraph {
  font-size: 30px;
  font-weight: 200;
  color: rgb(235, 157, 50);
}

.stamp-view-link {
  color: rgb(235, 157, 50);
  font-size: 30px;
  padding: 100px;
}

.stamp-view-link:hover {
  color: rgb(133, 11, 135);
}
